openapi: 3.0.1
info:
  title: 項目接口
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://local.mdos.intrii.com/openapi
security:
  - User-Id: [ ]
    Application-Id: [ ]
    Timestamp: [ ]
    Sign: [ ]
paths:
  /v1/project:
    post:
      summary: 創建專案
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectForm'
      responses:
        '200':
          description: 請求成功，返回創建的專案資訊
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDefaultConfig'
  /v1/project/{projectId}:
    get:
      parameters:
        - name: projectId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 請求成功，返回專案下的任務類型等基本信息
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDTO'
components:
  schemas:
    CreateProjectForm:
      type: object
      properties:
        name:
          type: string
          title: 名稱
        description:
          type: string
          title: 描述
        color:
          type: string
          title: 顏色
        template:
          type: boolean
          title: 是否為模板文件
        organizationId:
          type: string
          title: 組織id
      required:
        - name
        - template
    ProjectDefaultConfig:
      type: object
      properties:
        code:
            type: string
            description: 狀態碼
            enum:
              - '200'
              - '400'
              - '500'
        message:
          type: string
          default: null
        data:
          type: object
          default: null
          properties:
            projectId:
              type: string
              title: 專案id
            defaultTaskTypeId:
              type: string
              title: 默認任務類型id
            defaultGroupId:
              type: string
              title: 默認分組id
            defaultStageId:
              type: string
              title: 默認自定義列id
            defaultUserId:
              type: string
              title: 默認用戶id
            defaultStateList:
              type: array
              items:
                $ref: '#/components/schemas/State'
            defaultCustomFieldList:
              type: array
              items:
                $ref: '#/components/schemas/Field'
    State:
      type: object
      properties:
        id:
          type: string
          title: 狀態id
        name:
          type: string
          title: 狀態名稱
        kind:
          type: string
          enum:
            - 'START'
            - 'UNSET'
            - 'END'
        status:
          type: string
          enum:
            - 'NORMAL'
            - 'DELETED'
    Field:
      type: object
      properties:
        id:
          type: string
          title: 字段id
        name:
          type: string
          title: 字段名稱
        type:
          type: string
          enum:
            - 'ORGANIZATION'
            - 'PROJECT'
            - 'PRIORITY'
            - 'TAG'
            - 'NOTE'
        fieldType:
          type: string
        alias:
          type: string
          description: 該字段在fhir中的別名
    ProjectDTO:
      type: object
      properties:
        code:
          type: string
          description: 狀態碼
          enum:
            - '200'
            - '400'
            - '500'
        message:
          type: string
          default: null
        data:
          type: object
          properties:
            taskTypeList:
              type: array
              items:
                $ref: '#/components/schemas/TaskTypeDTO'
            groupList:
              type: array
              items:
                $ref: '#/components/schemas/Group'
            stageList:
              type: array
              items:
                $ref: '#/components/schemas/Stage'
            userList:
              type: array
              items:
                $ref: '#/components/schemas/UserDTO'
    Group:
      type: object
      properties:
        id:
          type: string
          title: 分組id
        name:
          type: string
          title: 分組名稱
    Stage:
      type: object
      properties:
        id:
          type: string
          title: 自定義列id
        name:
          type: string
          title: 自定義列名稱
    UserDTO:
      type: object
      properties:
        id:
          type: string
          title: 用戶id
        name:
          type: string
          title: 用戶名稱
        username:
          type: string
          title: 用戶名
    TaskTypeDTO:
      allOf:
        - $ref: '#/components/schemas/TaskType'
        - type: object
          properties:
            field:
              type: array
              items:
                $ref: '#/components/schemas/FieldDTO'
            workflowId:
              type: string
              description: 工作流id
            workflowState:
              type: array
              items:
                $ref: '#/components/schemas/StateAndTransition'
            taskPropertiesConfig:
              type: array
              items:
                $ref: '#/components/schemas/TaskPropertiesConfig'
    TaskType:
      type: object
      properties:
        id:
          type: string
          title: 任務類型id
        name:
          type: string
          title: 任務類型名稱
        description:
          type: string
          title: 任務類型描述
        organizationId:
          type: string
          title: 組織id
        category:
          type: string
          title: 任務類型分類
          enum:
            - 'SYSTEM'
            - 'CUSTOM'
            - 'PATIENT'
            - 'PRACTITIONER'
    FieldDTO:
      allOf:
        - $ref: '#/components/schemas/Field'
        - type: object
          properties:
            datasourceType:
              type: string
            returnType:
              type: string
            automatic:
              type: boolean
            datasourceArgumentSet:
              type: array
              items:
                $ref: '#/components/schemas/DatasourceArgument'
            fieldCondition:
              $ref: '#/components/schemas/FieldConditionDTO'
            initialValue:
              type: string
            placeholder:
              type: string
            required:
              type: boolean
            path:
              type: string
              description: 數據源調用地址
    StateAndTransition:
      type: object
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 95
          title: 任務狀態的id
          description: 如果是新增的任務狀態，傳參形如new:1700794623677這種格式
        name:
          type: string
          minLength: 1
          maxLength: 95
          title: 名稱
        kind:
          type: string
          title: 狀態
          description: TODO：開始狀態，IN_PROGRESS：進行中，DONE：結束狀態，CANCELED：取消狀態
        status:
          type: string
          title: 狀態
          description: NORMAL 正常 INACTIVE 停用
        stateTransitionList:
          type: array
          items:
            type: string
          title: 任務狀態流轉id集合
    TaskPropertiesConfig:
      type: object
      properties:
        name:
          type: string
          title: 任務屬性名稱
          description: executorId、startTime、endTime
        required:
          type: boolean
          title: 是否必填
    FieldConditionDTO:
      type: object
      properties:
        optionId:
          type: string
          description: 選中的下拉框id
        logic:
          type: string
          description: 邏輯運算符
    DatasourceArgument:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        bindingType:
          type: string
          description: 綁定的服務主體類型
        argType:
          type: string
          description: 參數類型
  securitySchemes:
    User-Id:
      type: apiKey
      in: header
      name: User-Id
      description: 當前操作者ID
    Application-Id:
      type: apiKey
      in: header
      name: Application-Id
      description: 應用程式ID
    Timestamp:
      type: apiKey
      in: header
      name: Timestamp
      description: 請求時間戳，3分鐘内有效
    Sign:
      type: apiKey
      in: header
      name: Sign
      description: 簽名值