openapi: 3.0.1
info:
  title: 項目接口
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://local.mdos.intrii.com/openapi
security:
  - User-Id: [ ]
    Application-Id: [ ]
    Timestamp: [ ]
    Sign: [ ]
paths:
  /v1/project/create:
    post:
      description: 創建項目
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectForm'
      responses:
        '200':
          description: 項目詳情
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDTO'
components:
  schemas:
    CreateProjectForm:
      type: object
      properties:
        name:
          type: string
          maxLength: 95
          description: 名稱
        description:
          type: string
          maxLength: 500
          description: 描述
        color:
          type: string
          maxLength: 95
          description: 顔色
        template:
          type: boolean
          description: 是否為模板文件
        organizationId:
          type: string
          description: 組織id
      required:
        - name
        - template
    ProjectDTO:
      type: object
      properties:
        projectId:
          type: string
        defaultTaskTypeId:
          type: string
        defaultGroupId:
          type: string
        defaultStateList:
          type: array
          items:
            $ref: '#/components/schemas/State'
        defaultStageId:
          type: string
        defaultCustomFieldList:
          type: array
          items:
            $ref: '#/components/schemas/Field'
      required:
        - projectId
    State:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          maxLength: 95
          description: 狀態名稱
        kind:
          type: string
          enum:
            - START
            - UNSET
            - END
          description: 狀態的類型
        pos:
          type: integer
          description: 記錄用戶添加狀態時的順序
        status:
          type: string
          enum:
            - NORMAL
            - DELETED
        creatorId:
          type: string
          description: 創建者id
    Field:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          maxLength: 95
          description: 字段名稱
        description:
          type: string
          maxLength: 500
          description: 字段描述
        type:
          type: string
          enum:
            - ORGANIZATION
            - PROJECT
            - PRIORITY
            - TAG
            - NOTE
          description: 字段類別
        fieldType:
          type: string
          description: 字段類型
        relationTaskTypeId:
          type: string
          description: 關聯的任務類型id
        alias:
          type: string
          description: 字段在fhir中的別名
        relationProjectId:
          type: string
          description: 關聯項目id
        advanceType:
          type: string
          description: 高級類型下的類型
        builtin:
          type: boolean
          description: 是否為内建字段
        status:
          type: string
          enum:
            - NORMAL
            - DELETED
        creatorId:
          type: string
        organizationId:
          type: string
        projectId:
          type: string
        associatedFieldId:
          type: string
          description: 關聯的字段id
  securitySchemes:
    User-Id:
      type: apiKey
      in: header
      name: User-Id
      description: 當前操作者ID

    Application-Id:
      type: apiKey
      in: header
      name: Application-Id
      description: 應用程式ID

    Timestamp:
      type: apiKey
      in: header
      name: Timestamp
      description: 請求時間戳，3分鐘内有效

    Sign:
      type: apiKey
      in: header
      name: Sign
      description: 簽名值