openapi: 3.0.1
info:
  title: 組織接口
  license:
    name: MIT
  version: 1.0.0
servers:
  - url: https://local.mdos.intrii.com/openapi

paths:
  /v1/organization/create:
    post:
      summary: 創建組織
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationForm'
      responses:
        '200':
          description: 请求成功返回代碼200，其它代碼表示失敗
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    enum:
                      - '200'
                      - '400'
                      - '404'
                      - '500'
                    description: 狀態碼
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      organizationId:
                        type: string
                        description: 組織id
                    required:
                      - organizationId
  '/v1/organization/{organizationId}/add-user':
    post:
      summary: 添加成員
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
          description: 組織id
      security:
        - User-Id: [ ]
          Application-Id: [ ]
          Timestamp: [ ]
          Sign: [ ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommonIdListForm'
      responses:
        '200':
          description: 請求成功返回代碼200，其它代碼表示失敗
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: 狀態碼
                    enum:
                      - '200'
                      - '400'
                      - '404'
                      - '500'
                  message:
                    type: string
                  data:
                    type: string
                    default: null
components:
  schemas:
    CreateOrganizationForm:
      type: object
      properties:
        name:
          type: string
          maxLength: 95
          description: 名稱
        description:
          type: string
          maxLength: 500
          description: 描述
        creatorId:
          type: string
          description: 創建者
      required:
        - name
        - creatorId
    CommonIdListForm:
      type: object
      properties:
        idList:
          type: array
          items:
            type: string
          description: id集合
          minItems: 1
      required:
        - idList
  securitySchemes:
    User-Id:
      type: apiKey
      in: header
      name: User-Id
      description: 當前操作者ID

    Application-Id:
      type: apiKey
      in: header
      name: Application-Id
      description: 應用程式ID

    Timestamp:
      type: apiKey
      in: header
      name: Timestamp
      description: 請求時間戳，3分鐘内有效

    Sign:
      type: apiKey
      in: header
      name: Sign
      description: 簽名值